{% extends 'App_Facturacion/layout.html' %} }}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'proveedor/css/show.css' %}"/>

{% endblock %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }} / {{ date_now }}
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box box-primary">

                        <div class="contenedorImagen" id="big">
                            {% if object.imagen  %}
                                <img class="img-responsive" width="100%" src="/media/{{ object.imagen }}" alt="Photo">
                            {% else %}
                                <img class="img-responsive" width="100%" src="{% static 'img/empty.png' %}" alt="Photo">
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box box-primary">

                        <div class="box-header with-border">
                            <h3 class="title">Acerca de: {{ object }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- /.box-header -->
                        <div class="box-body">
                            <strong><i class="fas fa-edit"></i> Ruc de la Empresa:</strong>
                            <p>&nbsp;{{ object.ruc }}</p>
                            <hr>

                            <strong><i class="fas fa-user-tag"></i> Cedula de Identidad:</strong>
                            <p>&nbsp;{{ object.c_i }}</p>
                            <hr>

                            <strong><i class="fas fas fa-building margin-r-5"></i> Nombre de la Empresa:</strong>
                            <p>&nbsp;{{ object.empresa }}</p>
                            <hr>

                            <strong><i class="fas fa-check-double"></i> Ciudad:</strong>
                            <p>&nbsp;{{ object.ciudad }}</p>
                            <hr>

                            <strong><i class="fas fa-house-user"></i> Direccion:</strong>
                            <p>&nbsp;{{ object.direccion }}</p>
                            <hr>

                            <strong><i class="fas fa-mobile"></i> Celular:</strong>
                            {% if object.celular  %}
                                <p>&nbsp;{{ object.celular }}</p>
                            {% else %}
                                <p>&nbsp;No registrado</p>
                            {% endif %}
                            <hr>

                            <strong><i class="fas fa-envelope"></i> Correo:</strong>
                            {% if object.correo  %}
                                <p>&nbsp;{{ object.correo }}</p>
                            {% else %}
                                <p>&nbsp;No registrado</p>
                            {% endif %}
                            <hr>

                            <strong><i class="fa fa-user-check"></i> Estado:</strong>
                            <p>
                                {% if object.estado == True %}
                                    <span class="badge badge-success ">Activo</span>
                                {% else %}
                                    <span class="badge badge-warning ">Bloqueado</span>
                                {% endif %}
                            </p>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        $("#id_clientes").hide();
        $("#id_productos").hide();
        $("#id_venta").hide();
        $("#id_cuentas").hide();
        $("#id_proveedor").show();
        $("#id_compra").show();
        $("#id_devolucion_compra").show();
        $("#id_cuentas_compra").show();
    </script>

{% endblock %}

{% block javascript %}

{% endblock %}