{% extends 'App_Facturacion/list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'ubicacion/css/list.css' %}"/>
    <script src="{% static 'ubicacion/js/list.js' %}"></script>
{% endblock %}

{% block titulo %}
    <i class="fas fa-search"></i>
    {{ title_1 }} / {{ date_now }}
{% endblock titulo %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%">Nº</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block buttons_list %}
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-4">
                <a class="btn btn-primary btn-flat btnAddBloque" style="color: white;">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
                <a href="{{ list_url }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4" align="right">
                <a class="btn btn-primary btn-flat pull-right" onclick="mostrar_seccion();">
                    <i class="fas fa-map-marker-alt	"></i> Sección
                </a>
                <a class="btn btn-primary btn-flat pull-right" onclick="mostrar_posicion();">
                    <i class="fas fa-map-marker-alt"></i> Posición
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content2 %}

    <div class="card card-primary" id="contenido_2">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title_2 }} / {{ date_now }}
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data_Seccion">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Nº</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-primary btn-flat btnAddSeccion">
                        <i class="fas fa-plus"></i> Nuevo registro
                    </a>
                    <a href="{{ list_url }}" class="btn btn-success btn-flat">
                        <i class="fas fa-sync"></i> Actualizar
                    </a>
                </div>
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4" align="right">
                    <a class="btn btn-primary btn-flat" onclick="mostrar_bloque();">
                        <i class="fas fa-map-marker-alt"></i> Bloque
                    </a>
                    <a class="btn btn-primary btn-flat" onclick="mostrar_posicion();">
                        <i class="fas fa-map-marker-alt"></i> Posición
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content3 %}

    <div class="card card-primary " id="contenido_3">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title_3 }} / {{ date_now }}
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data_Posicion">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Nº</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-primary btn-flat btnAddPosicion">
                        <i class="fas fa-plus"></i> Nuevo registro
                    </a>
                    <a href="{{ list_url }}" class="btn btn-success btn-flat">
                        <i class="fas fa-sync"></i> Actualizar
                    </a>
                </div>
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4" align="right">
                    <a class="btn btn-primary btn-flat" onclick="mostrar_bloque();">
                        <i class="fas fa-map-marker-alt"></i> Bloque
                    </a>
                    <a class="btn btn-primary btn-flat" onclick="mostrar_seccion();">
                        <i class="fas fa-map-marker-alt"></i> Sección
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <b><i class="fas fa-search"></i> <span></span></b>
                        </h5>
                        <button type="button" class="close cerrarModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input name="modulo" type="hidden" value="moduloBloque">
                            <input name="action" type="hidden" value="add">
                            <input name="id" id="id" type="hidden" value="0">
                            {% for field in form.visible_fields %}
                                <div class="form-group">

                                    <label for="email">{{ field.label }}:</label>
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#id_nombre').focus()
        });
        $("#id_marca").show();
        $("#id_ubicacion").show();
        $("#id_galeria").show();
        $("#id_cuentas").show();

    </script>
{% endblock %}