{% extends 'App_Facturacion/list.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
    <link href="{% static 'lib/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <script src="{% static 'venta/js/form.js' %}"></script>

{% endblock %}

{% block content %}
    <form id="frm_venta" method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Buscador de productos:</label>
                                    <div class="input-group">
                                        <select class="form-control select2" style="width: 100%;" name="search">
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <button type="button" class="btn bg-danger btn-xs btnRemoveAll">
                                    <i class="fas fa-trash"></i> Eliminar Items
                                </button>
                                <hr>
                                <table class="table table-bordered" id="tblProducts">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%">Cantidad</th>
                                        <th>Producto</th>
                                        <th>PVP</th>
                                        <th>Stock</th>
                                        <th style="width: 20%">Descuento</th>
                                        <th>Subtotal</th>
                                        <th><i class="fas fa-lightbulb"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la factura</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de venta:</label>
                                    {{ form.fecha }}
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Buscar Cliente:</label>
                                        <div class="input-group margin btn-group">
                                            {{ form.cliente }}
                                            <div class="input-group-append btn-group">
                                                <button class="btn btn-success btnAddClient" type="button">
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        {{ form.subtotal }}
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>IVA:</label>
                                    <div class="input-group">
                                        {{ form.iva }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>IVA Calculado:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control" readonly name="ivacalc" value="0.00">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Total a pagar:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        {{ form.total }}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>$USD Recibido:</label>
                                    <input type="text" class="form-control" name="valor_recibido" value="0.00">
                                </div>
                                <div class="form-group">
                                    <label>$USD Cambio:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly name="valor_cambio"
                                               value="0.00">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label><i class="fas fa-hand-holding-usd"></i> Credito:</label>
                                    {{ form.metodo_pago }}
                                    <label id="id_lbl_descripcion"><i class="fas fa-hand-holding-usd"></i> Descripción:</label>
                                    <textarea class="form-control" id="id_descripcion_credito"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm btnTest">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-sm btnTest">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <!-- Modal Cliente -->

    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form id="frm_cliente" enctype="multipart/form-data" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-user-plus"></i> Nuevo registro de un cliente</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label for="email">Nombre del Cliente:</label>
                                {{ frm_cliente.nombre }}
                            </div>
                            <div class="form-group">
                                <label for="email">Apellidos:</label>
                                {{ frm_cliente.apellido }}
                            </div>
                            <div class="form-group">
                                <label for="email">Direccion:</label>
                                {{ frm_cliente.direccion }}
                            </div>
                            <div class="form-group">
                                <label for="email">Cedula de identidad:</label>
                                {{ frm_cliente.c_i }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Guardar Cliente
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $("input[name='iva']").val({{iva|safe}});
        vents.items.products = {{ det|safe }};
        vents.list();
        var det =
        {{ det|safe }}
        $("#id_cuentas").show();
    </script>

{% endblock %}
