<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Últimos pedidos</font></font></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Solicitar ID</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Articulo</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Popularidad</font></font></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR9842</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Call of Duty IV</font></font></td>
                    <td><span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviado</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR1848</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Samsung Smart TV</font></font></td>
                    <td><span class="label label-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pendiente</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR7429</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">iPhone 6 Plus</font></font></td>
                    <td><span class="label label-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entregado</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR7429</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Samsung Smart TV</font></font></td>
                    <td><span class="label label-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Procesando</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR1848</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Samsung Smart TV</font></font></td>
                    <td><span class="label label-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pendiente</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR7429</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">iPhone 6 Plus</font></font></td>
                    <td><span class="label label-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entregado</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OR9842</font></font></a></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Call of Duty IV</font></font></td>
                    <td><span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviado</font></font></span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20"><canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas></div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Realizar nuevo pedido </font></font></a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver todos los pedidos</font></font></a>
            </div>
            <!-- /.box-footer -->
</div>